/*General styles*/

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

/*Menu styles*/

nav#menu {
	text-align: center;
	background: #222;
}

nav#menu > ul {
	margin: 0;
}

nav#menu > ul > li.menu-item {
	padding: 25px;
	list-style: none;
	display: inline-block;
}

nav#menu > ul > li.menu-item a {
	text-decoration: none;
	color: #fff;
}

nav#menu > ul > li.menu-item a:hover {
	color: #999;
}

/* Header styles */

header#header {
	position: relative;
	text-align: center;
}
header#header img {
	width: 100%;
}
header#header h1#main-header-text {
	position: absolute;
	top: 50%;
	/*	position: absolute;	top: 50%; - pozycjonuje napis w pionie */
	font-size: 50px;
	font-weight: 700;
	margin: 0 auto;
	left: 0;
	right: 0;
	/*	margin: 0 auto; left: 0; right: 0 - pozycjonuje napis w poziomie */
	text-transform: uppercase;
	color: #fff;
}

/* Section styles */

section#about {
	text-align: center;
	margin: 30px 0;
	padding: 0 50px;
/*	padding 1 wartośc to góra , 2 wartosc to lewo prawo */
}
section#about h2#about-header {
	font-size: 30px;
	margin-bottom: 20px;
}

/* Footer styles */

footer#contact {
	padding: 30px 50px;
	text-align: center;
	background: #222;
}
footer#contact h2#contact-header {
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
}
footer#contact adress#contact-content {
	color: #fff;
	font-style: normal;
} 
footer#contact adress#contact-content a {
	color: #fff;
}
footer#contact adress#contact-content a:hover {
	color: #999;
/*	hover - podświetlanie po najechaniu kursorem */
}