/*General styles*/

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}
/*Menu styles*/
nav#menu {
	text-align: center;
	background: #222;
}

nav#menu > ul {
	margin: 0;
}

nav#menu > ul > li.menu-item {
	padding: 25px;
	list-style: none;
	display: inline-block;
}

nav#menu > ul > li.menu-item a {
	text-decoration: none;
	color: #fff;
}

nav#menu > ul > li.menu-item a:hover {
	color: #999;
}
header#img {
	position: absolute;
}